body{
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  color: #626262;
}
/*START HEADER PART*/
header{
  padding: 40px 0;
}
.container{
  width:92%;
  margin: auto;
  overflow: hidden;
}
.logo{
  width: 9%;
}
.logo img{
  width: 100%;
  float: left;
  margin-top: 8px;
}
.nav{
  float: right;
  width: 70%;
}
 nav ul{
  float: right;
}
 nav li{
  float: left;
  display: block;
  text-decoration: none;
  padding-right: 120px;
}
nav a{
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #818181;
  text-transform: uppercase;
}
nav a:hover{
  border-bottom: 1px solid #818181;
}
nav ul li:last-child{
  padding-right: 0px;
}
/*END HEADER PART*/
/*START BANNER PART*/
.banner_img img{
  width: 100%;
  padding-bottom: 100px;
}
/*END BANNER PART*/
/*START ABOUT PART*/
.container-2{
  width: 80%;
  margin: auto;
}
.text{
font-family:'Ubuntu', sans-serif;
font-weight: 300;
color: #b4ad9e;
}
.title{
  font-size: 30px;
}
.i_text{
  margin: 25px 0px;
}
.comment{
  margin-bottom: 90px;
}
/*END ABOUT PART*/

/*END PHOTO PART*/
.images{
  overflow: hidden;
}
.image-1{
  width: 45%;
  float: left;
  margin-bottom: 90px;
}
.image-1 img{
  width: 100%;
  
}
.image-1:nth-child(even){
  float: right;
}
/*END PHOTO PART*/
/*START NEWSLETTER PART*/

.newsletter{
  background: #f0f0f0;
  text-align: center;
}
.sign-up{
  padding: 100px 0px;
  margin-bottom: 100px;
}
.sign{
  color: #333333;
  margin-top: 0px;
  margin-bottom: 70px;
}
.s_form{
  position: relative;
  width: 400px;
  margin: 0 auto;
}
.s_form input{
  font-size: 14px;
  width: 345px;
  height: 45px;
  border: none;
  border-bottom: 1px solid #333333;
  background: transparent;
  padding-left: 5px;
  padding-right: 45px;
}
.s_form input:focus{
  outline: 0;
}
.s_form button{
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  top: 15px;
  right: 0;
}
.s_form button:focus{
  outline: 0;
}
/*END NEWSLETTER PART*/
/*END about PART*/
/*END about PART*/

/*start button part*/

.button{
  text-align: center;
  margin-top: 90px;
  margin-bottom: 180px;
}
.button button{
  font-size: 16px;
  width:165px;
  height: 60px;
  border: none;
  border: .1px solid black;
  background: transparent;
  cursor: pointer;
}
.button button:hover{
  background:#626262;
  color: aliceblue;
}
/*end button part*/

/*start footer part*/

.section{
  background: #f0f0f0;
  height: 90px;
}
.terms{
  float: left;
  margin-top: 35px;
}
.terms a{
  padding-left: 15px;
  color: #626262;
  text-decoration: none;
}
.terms a:first-child{
  margin-left: 50px;
}

.follow{
  float: right;
  margin-top: 35px;
}
.in{
  display: inline;
}
.follow i{
  color: #626262;
  padding-left: 20px;
}
/*end footer part*/